@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

h1,h2,h3,h4,h5{
    font-family: "Noto Serif", serif;
}
p,span{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared css */
body{
    background-color: #F5F8FF;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.width{
    max-width: 1440px;
    margin: 0 auto;
}

/* img{width: 100%;

} */


/* nav section css */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    
}
.main-menu ul{
  display: flex;
  justify-content: flex-end;
  width: 900px;

}

.main-menu ul li{
    list-style: none;    
}
.main-menu ul li a{
    text-decoration: none;
    margin-right: 20px;
    color: #8987A1;
    
}
.shoping-cart-area ul{
    display: flex;
    
}
.shoping-cart-area ul li{
    list-style: none;
}
.shoping-cart-area ul li a{
    text-decoration: none;
    color: #000000;
}

.cart-shop{
    margin-left: 10px;
}


/* hero section css */
.hero-section{
    display: flex;
    align-items: center;
    padding: 120px 0px;
}
.hero-content {
    max-width: 570px;
}
.hero-content h3 {
    font-size: 4rem;
    margin-bottom: 12px;
    font-weight: bold;
}

.hero-content span {
    color: #E95A08;
}
.hero-content p{
    color: rgba(0, 0, 0, 0.5);
}

/* our plants section css */
.our-plants-section{
    margin-bottom: 180px;
    position: relative;
}
.our-plants-title{
    text-align: center;
}
.our-plants-title h3{
    font-size: 3.2rem;
    margin-bottom: 16px;
}
.our-plants-title span{
    color: #E95A08;  
}
.our-plants-title p{
    color:#8987A1;
    margin-bottom: 50px;
}

.our-plants-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-item{
    text-align: center;
    margin-bottom: 20px;
}
.card-item img{
    margin-bottom: 30px;
}
.card-item h5{
    font-size: 1.4rem;
    color: #111111;
    font-weight: 500;
    margin-bottom: 20px;
}
.card-item p{
    font-weight: 800;
}

.card-item button{
    background-color: #E95A08;
    padding: 19px 90px;
    font-weight: 500;
    color: white;
    border: none;
    margin-top: 30px;
    text-align: center;
}

/* flower-lover-section css */
.flower-lover-section{
    position: relative;
}
.flower-lover-image-icon {
    width: 286px;
    height: 286px;
    position: absolute;
    left: 360px;
    top: -108px;
}
.flower-lover-items{
    display: flex;
    gap: 60px;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.flower-lover-section-content h3{
    font-size: 3.2rem;
    margin-bottom: 20px;
}

.flower-lover-section-content li{
    font-size: 1.4rem;
    color: #8987A1;
    margin-bottom: 20px;
    padding-left: 20px;
    list-style-type: disc;
    margin-left: 25px;
    

}



/* latest-deals-layout css */
.latest-deals{
    margin-bottom: 100px;
}

.latast-deals-content {
    text-align: center;
}
.latast-deals-content h3{
    font-size: 3.1rem;
    margin-bottom: 16px;
   
}
.latast-deals-content span{
    color: #E95A08;
}
.latast-deals-content p{
    margin-bottom: 120px;
   
}
.latest-deals-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}
.left-deal{
    display: flex;
    flex-direction: column;
    
 
}
.left-deal-img img{
    border-radius: 14px;
   
}

.left-deal-card{
    position: relative;
}
.left-deal-card::before {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 98%;
    content: "";
    background: #000000;
    opacity: 30%;
    border-radius: 14px;
}
.left-deal-card-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
.left-deal-card-content h4{
    text-align: center;
    color: white;
    font-size: 1.rem;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.left-deal-card-content a{
    color: white;
    font-weight: bold;
}

.left-deal-item{
    position: relative;
    margin: 20px 0px;
}
.left-deal-item::before {
    position: absolute;
    bottom: 4px;
    left: 0;
    content: "";
    height: 98%;
    width: 100%;
    background: #000;
    opacity: 30%;
    border-radius: 14px;
}

.left-deal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.left-deal-content h4{
    color: white;
    font-size:1.1rem;
    margin-bottom: 20px;
}
.left-deal-content a{
    color: white;
    
}

.right-deal{
    position: relative;
    padding-bottom: 20px;
}
.right-deal::before {
    position: absolute;
    bottom: 23px;
    left: 0;
    height: 95%;
    width: 100%;
    content: "";
    background: #000;
    opacity: 30%;
    border-radius: 30px;
}

.right-deal-img img {
    border-radius: 30px;
}
.right-deal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.right-deal-content h3{
    color: white;
    font-size: 2.2rem;
}
.right-deal-content a{
    color: white;
    font-size: 1.7rem;
}



/* subscribe-us css */

.subscribe-us{
    /* width: 1440px; */
    background-image: url('../images/news-letter-bg.png');
    text-align: center;
    /* background-repeat: no-repeat; */
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    
}
.subscribe-us img{
    width: 100%;
}
  .suscribe-content{
    padding: 150px 0px;
    margin: 0 auto;
} 
.subscribe-us h3{
    font-size: 3.1rem;
    color: white;
    margin-bottom: 23px;
    text-align: center;
}

.subscribe-email{
    padding: 19px;
    padding-right: 370px;
    border: none;
}
.subscribe-submit{
    padding: 19px 53px;
    border: none;
    color: white;
    background-color: #E95A08;
    margin-left: -3px;
}



/* footer section css */
.footer-content{
    display: flex;
    padding: 50px 0px;
    justify-content: space-around;
}
.footer-brand{
    width: 360px;
}
.footer-brand{
  padding-top: 30px;
}
.footer-brand img{
    margin-bottom: 16px;

}
.footer-brand p{
    color: #8987A1;
}
.footer-nav-link li{
    list-style: none;
    padding: 25px 0px;
}
.footer-nav-link a{
    text-decoration: none;
    color: #8987A1;
    
}
.footer-links li{
    list-style: none;
    padding: 25px 0px;
}
.footer-links a{
    text-decoration: none;
    color: #8987A1;
}
 
.footer-social-link img{
   margin-left: 10px;
   padding-top: 15px;
}




/* responsive css */

@media screen and (max-width: 576px) {
  
    .flower-lover-items,
    .latest-deals-layout,
    .footer-content{
        flex-direction: column;
    }
    nav{
    align-items: center;
    padding: 20px;
   } 
   .main-menu ul{
    display: none;
   }
   .hero-section{
    flex-direction: column-reverse;
    padding-bottom: 50px;

   }
   .hero-content{
    padding-top: 28px;
    padding-left: 16px;
    padding-right: 16px;
    

   }
   .hero-image img{
    width: 100%;
   }
   .hero-content h3{
    font-size: 1.7rem;

   }
   
   .our-plants-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 48px;
   
   }
   .our-plants-section{
    margin-bottom: 50px;
  
    
   }
    .our-plants-card img{
         width: 100%;
    }
    .our-plants-title{
        text-align: center;
        padding: 20px;
    }
    .card-item button{
        padding: 10px 60px;
    }
    
    .flower-lover-image-icon{
        display: none;
    }
     .flower-lover-items{
        padding: 10px;
        margin-bottom: 50px;
     }
    .flower-lover-items img{
        width: 100%;
    }
    .right-deal-content h3{
        font-size: 1.2rem;
    }
    .right-deal img{
        /* width: 100%;
        height: 100%; */
        padding: 0 30px;
        margin-top: -25px;
        /* border-radius: 20px; */
       
        
    }
    .right-deal-img img {
    border-radius: 50px;
    width: 100%;
    height: 100%;
}
    .right-deal::before {
    position: absolute;
    bottom: 23px;
    left: 28px;
    height: 100%;
    width: 87%;
    content: "";
    background: #000;
    opacity: 30%;
    border-radius: 30px;
}   .latest-deals{
    
    margin-bottom: 50px;

}
.latast-deals-content{
    padding: 20px;
    text-align: center;
}
.latest-deals p{
    margin-bottom: 30px;
}
    .subscribe-us{
        width: 100%;
        

    }
    .subscribe-us h3{
        font-size: 1.4rem;
    }
    .subscribe-email{
        padding-right: 50px;
    }
    
    

    .footer-content{
        padding-left: 20px;
    }

}